@inherits LayoutComponentBase

<div class="d-flex align-items-center flex-column">
    <div class="px-4">
        <h2>Weather App</h2>
    </div>

    <div class="px-4">
        @Body
    </div>
</div>
