@page "/"
@page "/search"

<div class="d-flex flex-column align-items-center">


    <div>
        <SearchBar></SearchBar>
    </div>


    <ul>
        @if (State.SelectedForecast != null)
        {
            @foreach (var result in State.SelectedForecast.Properties.Periods)
            {
                <WeatherResult Forecast="@result"></WeatherResult>
            }
        }

    </ul>
</div>

@inject AppState State
@implements IDisposable

@code {
    protected override void OnInitialized()
    {
        State.Subscribe(StateHasChanged);
    }

    public void Dispose()
    {
        State.Unsubscribe(StateHasChanged);
    }
}