@page "/"
@page "/search"

<div class="d-flex flex-column align-items-center">


    <div>
        <SearchBar @bind-Forecast="currentForecast"></SearchBar>
    </div>


    <ul>
        @if (currentForecast != null)
        {
            @foreach (var result in currentForecast.Properties.Periods)
            {
                <WeatherResult Forecast="@result"></WeatherResult>
            }
        }

    </ul>
</div>

@code {
    private ForecastModel currentForecast = null;
}